body {
    margin: 10px;
    width: 725px;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1e6bd6;
    border-radius: 10px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
}



h1 {
    text-align: center; 
}

h2 {
    text-align: left; 
}

p {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}


ul {
    list-style-type: square;
    margin-left: 40px;
}

li {
    padding-left: 10px;
}


pre {

    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
    margin-top: 100px;
}

.two-column {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.section-card {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fafafa;
}